/* estilo para detalhes na templates */

.centro {
	text-align: center;
}

/* Modal de Cidades */

	div#modalCidades, div#modalEscolherXML {
		height: auto;
	}
	
	div#modalCidades h2, div#modalEscolherXML h2 {
		color: #0072bc;
		font-size: 30px;
		font-weight: bold;
	}
	
	div#modalEscolherXML h2 {
		font-size: 25px;	
	}
	
	div#modalEscolherXML .lista_xml {
		margin: 30px 0px;	
	}
	
	div#modalCidades h3, div#modalEscolherXML h3 {
		color: #0072bc;
		font-size: 14px;
		font-weight: bold;
		margin: -10px 0px 30px 0px;
	}
	
	div#modalCidades label, div#modalEscolherXML label {
		color: #0072bc;
		font-size: 16px;
		font-weight: bold;
		line-height: 35px;
	}
	

/* Anuncios */

	div.anuncios div.anuncio div.imagem {
		width: 100%;
		height: 150px;
		margin-bottom: 17px;
	}
	
	div.anuncios div.anuncio div.imagem img {
		width: 100%;
		height: 100%;
	}

/* -------- */

/* Noticias */

	div.noticias .titulo_conteudo h2.titulo_box {
		color: #0072bc;
		margin: 0px;
		font-weight: bold;
	}
	
	div.noticias ul.lista_noticias {
		margin: 10px 0px; 
	}
	
	div.noticias ul.lista_noticias li {
		padding-left: 0px;
	}

	/* div.noticias div.noticia_item {
		width: 460px;
		height: 140px;
	} */
	
	/* div.noticias div.noticia_item div {
		float: left;
		position: relative;
	} */
	
	div.noticias div.noticia_item div.imagem {
		padding-bottom: 10px;
	}
	
	div.noticias div.noticia_item div.imagem img {
		width: 100%;
		height: 100%;
	}
	
	div.noticias div.noticia_item div.dados {
		font-family: "MyriadPro";
	}
	
	div.noticias div.noticia_item div.dados h2 {
		font-size: 15px;
		font-weight: bold;
		margin-top: 0px;
		margin-bottom: 5px;
		font-family: "MyriadPro";
		color: #3b3b3b;
	}
	
	div.noticias div.noticia_item div.dados p {
		font-size: 12px;
		margin-bottom: 0px;
		color: #3b3b3b;
		width: 100%;
		word-wrap: break-word;
	}
	
	div.noticias div.noticia_item div.dados a {
		font-size: 12px;
		float: right;
		color: #0072bc;
		margin-right: 10px;
	}

/* -------- */

/* Templates de Imovel em Geral */
	
	div.barra-vermelho {
		background-color: #d30707;
		line-height: 0;
	}
		
	div.barra-azul {
		background-color: #0072bc;
		line-height: 0;
	}
			
	div.barra-cinza {
		background-color: #636363;
		line-height: 0;
	}

	.titulo_azul, .titulo_vermelho, .titulo_cinza {
		/*line-height: 0;*/
		float: left;
		width: 100%;
		margin-bottom: 15px;
	}

	/*.titulo_azul {
		background-color: #0072bc;
	}

	.titulo_vermelho {
		background-color: #d30707;
	}

	.titulo_cinza {
		background-color: #636363;
	}*/
	
	.titulo_azul .titulo_conteudo h2.titulo_box {
		color: #0072bc;
		margin: 0px;
		font-weight: bold;
	}
	
	.titulo_vermelho .titulo_conteudo h2.titulo_box {
		color: #d30707;
		margin: 0px;
		font-weight: bold;
	}
	
	.titulo_cinza .titulo_conteudo h2.titulo_box {
		color: #636363;
		margin: 0px;
		font-weight: bold;
	}

	.titulo_azul .titulo_conteudo, .titulo_vermelho .titulo_conteudo, .titulo_cinza .titulo_conteudo {
		position: relative;
		background-color: #f9f9f9;
		display: inline;
		float: left;
		margin-left: 20px;
		padding: 0px 10px;
	}

	.titulo_azul .titulo_conteudo .botoes, .titulo_vermelho .titulo_conteudo .botoes, .titulo_cinza .titulo_conteudo .botoes {
		width: 70px;
		height: 18px;
		float: left;
		margin-left: 10px;
	}

	.titulo_azul .titulo_conteudo .botoes a, .titulo_vermelho .titulo_conteudo .botoes a, .titulo_cinza .titulo_conteudo .botoes a {
		height: 100%;
		width: 18px;
		background-repeat: none;
		float: left;
		display: block;
		margin-left: 5px;
	}

	h2.titulo_box {
		display: inline;
		font-size: 20px;
		float: left;
		line-height: 20px;
	}

	a.prev_azul {
		background-image: url('../../images/btn_azul.png');
		background-position: 0 0;
	}

	a.pause_azul {
		background-image: url('../../images/btn_azul.png');
		background-position: -24px 0;
	}

	a.next_azul {
		background-image: url('../../images/btn_azul.png');
		background-position: -48px 0;
	}

	a.prev_vermelho {
		background-image: url('../../images/btn_vermelho.png');
		background-position: 0 0;
	}

	a.pause_vermelho {
		background-image: url('../../images/btn_vermelho.png');
		background-position: -24px 0;
	}

	a.next_vermelho {
		background-image: url('../../images/btn_vermelho.png');
		background-position: -48px 0;
	}

	a.prev_cinza {
		background-image: url('../../images/btn_cinza.png');
		background-position: 0 0;
	}

	a.pause_cinza {
		background-image: url('../../images/btn_cinza.png');
		background-position: -24px 0;
	}

	a.next_cinza {
		background-image: url('../../images/btn_cinza.png');
		background-position: -48px 0;
	}

	div.destaques, div.venda, div.locacao, div.temporada {
		margin-bottom: 35px;
	}

	div.venda div.venda_item .imagem img.status, div.destaques div.destaque .imagem img.status, div.locacao div.locacao_item .imagem img.status, div.temporada div.temporada_item .imagem img.status {
		position: absolute;
		z-index: 100;
		top: -25px;
		left: -35px;
	}

	.lista_detalhes .caroufredsel_wrapper{
		height: auto;
	}

	ul#carrousel_destaque, ul#carrousel_destaque li, ul#carrousel_destaque li div.destaque {
		height: auto;
	}

/* Destaques */

	div.destaques .titulo_conteudo .botoes img {
		height: 100%;
	}

	div.destaques div.destaque {
		background-color: white;
		position: relative;
		float: left;
		border: 1px solid #d7d7d7;
		max-height: 280px;
	}

	div.destaques div.destaque div {
		position: relative;
		float: left;
	}

	div.destaques div.destaque .imagem {
		width: 50%;
		overflow: hidden;
	}

	div.destaques div.destaque .imagem img.imovel {
		width: 100%;
	}

	div.destaques div.destaque .dados {
		width: 50%;
		font-family: "MyriadPro";
		padding: 10px 20px;
	}

	div.destaques div.destaque .dados h2 {
		font-size: 15px;
		color: #d30707;
		font-weight: bold;
		/* margin: -10px 0px 5px 0px; */
	}

	div.destaques div.destaque .dados p {
		font-size: 14px;
		margin-bottom: 2px;
		border-bottom: 1px solid #d7d7d7;
	}

	div.destaques.export {
		margin: 20px;
	}

	/*div.destaques.export .row {
		margin: 0;
	}*/

	div.destaques.export .destaque {
		width: 470px;
		position: relative;
		word-wrap: break-word;
	}

	div.destaques.export .destaque .remover {
		font-size: 32px;
	    font-weight: 800;
	    color: #E81B1B;
	    position: absolute;
	    cursor: pointer;
	    top: 0px;
	    right: 3px;
	}

	div.destaques.export .exibe .destaque .remover {
		font-size: 30px;
	    color: #22BB08;
	    top: 0px;
	    right: 0px;
	}



	div.destaques.export .container_destaque:not(:last-child) {
		margin-bottom: 20px;
	}
	div.destaques.export .lista_detalhes {
		padding-top: 20px;
	}
	.btn_azul {
		background-color: #0072bc;
	    padding: 10px 20px;
	    color: white;
	    font-family: "MyriadPro";
	    font-weight: bold;
	    line-height: 26px;
	}
	.btn_azul:hover, .btn_azul:focus {
		color: #fff;
	}

/* ---------------- */

/* Venda */

	div.venda .titulo_conteudo .botoes img {
		height: 100%;
	}

	div.venda div.venda_item {
		min-height: 330px;
		width: 100%;
		max-width: 220px;
		background-color: white;
		position: relative;
		float: left;
		border: 1px solid #d7d7d7;
		box-sizing: content-box;
	}

	div.venda div.venda_item div {
		position: relative;
		float: left;
	}

	div.venda div.venda_item .imagem {
		width: 100%;
		height: 170px;
		overflow: hidden;
	}

	div.venda div.venda_item .imagem img.imovel {
		width: 100%;
		height: 100%;
	}

	div.venda div.venda_item .dados {
		width: 100%;
		height: auto;
		font-family: "MyriadPro";
		box-sizing: border-box;
		padding: 10px 10px;
	}

	div.venda div.venda_item .dados h2 {
		font-size: 18px;
		color: #d30707;
		font-weight: bold;
	}

	div.venda div.venda_item .dados p {
		font-size: 14px;
		margin-bottom: 2px;
		border-bottom: 1px solid #d7d7d7;
	}

/* ----------------- */

/* Locação */

	div.locacao .titulo_conteudo .botoes img {
		height: 100%;
	}

	div.locacao div.locacao_item {
		min-height: 330px;
		width: 100%;
		max-width: 220px;
		background-color: white;
		position: relative;
		float: left;
		border: 1px solid #d7d7d7;
		box-sizing: content-box;
	}

	div.locacao div.locacao_item div {
		position: relative;
		float: left;
	}

	div.locacao div.locacao_item .imagem {
		width: 100%;
		height: 170px;
		overflow: hidden;
	}

	div.locacao div.locacao_item .imagem img.imovel {
		width: 100%;
		height: 100%;
	}

	div.locacao div.locacao_item .dados {
		width: 100%;
		height: auto;
		font-family: "MyriadPro";
		box-sizing: border-box;
		padding: 10px 10px;
	}

	div.locacao div.locacao_item .dados h2 {
		font-size: 18px;
		color: #d30707;
		font-weight: bold;
	}

	div.locacao div.locacao_item .dados p {
		font-size: 14px;
		margin-bottom: 2px;
		border-bottom: 1px solid #d7d7d7;
	}

/* ---------------- */

/* Temporada */

	div.temporada .titulo_conteudo .botoes img {
		height: 100%;
	}

	div.temporada div.temporada_item {
		min-height: 330px;
		width: 100%;
		max-width: 220px;
		background-color: white;
		position: relative;
		float: left;
		border: 1px solid #d7d7d7;
		box-sizing: content-box;
	}

	div.temporada div.temporada_item div {
		position: relative;
		float: left;
	}

	div.temporada div.temporada_item .imagem {
		width: 100%;
		height: 170px;
		overflow: hidden;
	}

	div.temporada div.temporada_item .imagem img.imovel {
		width: 100%;
		height: 100%;
	}

	div.temporada div.temporada_item .dados {
		width: 100%;
		height: auto;
		font-family: "MyriadPro";
		box-sizing: border-box;
		padding: 10px 10px;
	}

	div.temporada div.temporada_item .dados h2 {
		font-size: 18px;
		color: #d30707;
		font-weight: bold;
	}

	div.temporada div.temporada_item .dados p {
		font-size: 14px;
		margin-bottom: 2px;
		border-bottom: 1px solid #d7d7d7;
	}
	
/* Modal de Bem Vindo */

#modalBemvindo {
	text-align: center;
	height: auto;
}

#modalBemvindo h2 {
	color: #0072bc;
	font-weight: bold;
}

#modalBemvindo p {
	color: #0072bc;
}

/* Templates de importação de xml */

#modalEscolherXML span {
	line-height: 35px;
}

div#modalEscolherXML a.botao_azul {
	background-color: #0072bc;
	padding: 10px;
	color: white;
	font-family: "MyriadPro";
	font-weight: bold; 
	line-height: 63px;
}
.div_botao_azul {
	background-color: #0072bc;
	padding: 10px;
	color: white;
	font-family: "MyriadPro";
	font-weight: bold; 
	line-height: 16px;
}

div#modalEscolherXML label {
	margin-top: -5px;	
}

div#modalEscolherXML div.radius {
	margin-top: 10px;
	margin-bottom: 5px;
}

div.anuncie_perfil div.comprar div.botao2 a {
  background-color: #0072bc;
  padding: 10px 5px;
  color: white;
  font-family: "MyriadPro";
  font-weight: bold;
  line-height: 26px;
}
div.anuncie_perfil div.comprar div.botao2 {
  margin-top: 10px;
  display: flex;
}