/* estilo para páginas de anuncie */

div.anuncie div.tipo_imagens {
	text-align: center;
}

div.anuncie div.tipo_imagens {
	text-align: center;
}

div.anuncie div.tipo_imagens div {
	margin-top: 10px;
}

div.anuncie_perfil h2.preto {
	font-size: 18px;
}

div.anuncie_perfil .texto_padrao {
	margin: 0px;
}

div.anuncie_perfil div.campo {
	font-weight: bold;
}

div.anuncie_perfil textarea {
	height: 120px;
}

div.anuncie_perfil form.contato_corretor label {
	padding-bottom: 5px;
}

div.anuncie_perfil form#cadastro_imobiliaria {
	margin-top: 20px;
}

/* Anuncie Proprietario */

div.anuncie_perfil div.vantagens {
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #d7d7d7;
	overflow: hidden;
	margin-bottom: 20px;
}

div.anuncie_perfil label.preto {
	font-weight: bold;
	color: #3b3b3b;
	font-family: "MyriadPro";
	font-size: 18px;
}

div.anuncie_perfil div.vantagens ul {
	float: left;
	margin-top: 20px;
}

div.anuncie_perfil div.vantagens ul li {
	font-size: 12px;
	font-family: "MyriadPro";
	margin-bottom: 10px;
}

div.anuncie_perfil div.comprar {
	overflow: hidden;
	padding: 0px 20px;
	text-align: center;
}

div.anuncie_perfil div.comprar div.plano {
	padding: 5px 10px;
	background-color: #f9f9f9;
	border: 1px solid #d7d7d7;
	text-align: center;
	margin-top: 10px;
}

div.anuncie_perfil div.comprar div.plano span {
	font-size: 10px;
	font-family: "MyriadPro";
	color: #3b3b3b;
}

div.anuncie_perfil div.comprar div.plano h2 {
	font-size: 25px;
	font-family: "MyriadPro";
	color: #0072bc;
	margin: 0px;
	font-weight: bold;
	margin-top: -5px;
}

div.anuncie_perfil div.comprar div.botao {
	margin-top: 10px;
}

div.anuncie_perfil div.comprar div.botao a {
	background-color: #0072bc;
	padding: 20px 28px;
	color: white;
	font-family: "MyriadPro";
	font-weight: bold;
	line-height: 63px;
}
