/* estilos para notícias/blog */

div.cadastrar h2.preto {
	font-size: 18px;
}

div.cadastrar .passo {
	margin: 30px 0px 50px 0px;
}

div.cadastrar .passo .texto span {
	font-size: 36px;
	font-family: "Helvetica bold";
	color: #0072bc;
	line-height: 35px;
}

div.cadastrar form#cadastro {
	margin-top: 20px;
}

div.cadastrar label {
	font-size: 15px;
	padding-bottom: 5px;
}

.uploadifive-queue-item span {
	line-height: 15px;
}
.uploadifive-queue-item a {
	position: absolute;
	right: 5px;
	top: 50%;
	color: #333;
	font-weight: 800;
	line-height: 15px;
	display: block;
	transform: translateY(-50%);
}

.uploadifive-queue-item .progress {
	height: 4px;
	padding: 0px;
	margin: 0;
	background: transparent;
	border: 0;
}

.uploadifive-queue-item .progress-bar {
	width: 100%;
	display: block;
	height: 4px;
	background-color: #969696;
}
.uploadifive-queue-item {
	max-width: 500px;
	display: inline-block;
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid #ddd;
	padding: 10px;
	padding-right: 20px;
	position: relative;
	margin: 2px;
}
.uploadifive-button {
	font-size: 16px!important;
	line-height: 14px!important;
	margin-bottom: 10px!important;
}