.list_carousel {
	width: 100%;
	background-color: #0088ae;
	padding: 25px;
	margin: 0 0 25px 0;
}

.list_carousel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list_carousel ul li {
	width: 100%;
	float: left;
	display: inline;
	position: relative;
}

.list_carousel .legenda {
	max-width: 500px;
	width: 100%;
	padding: 5px 35px;
	position: absolute;
	left: 0;
	bottom: 15px;
	background-color: rgba(0,0,0,0.7);
}

.legenda h1,
.legenda p {
	color: #fff;
}

.prev,
.next {
	width: 35px;
	height: 55px;
	position: absolute;
	top: 120px;
	z-index: 100;
	text-indent: 1000px;
	overflow: hidden;
	background-image: url(../../images/sprite-arrows.png);
}

.prev {
	left: 65px;
	background-position: 0 0;
}

.next {
	right: 65px;
	background-position: -35px 0;
}

.pager {
	width: 100%;
	height: 25px;
	margin: 15px 0 0 0;
	text-align: center;
}

.pager a {
	line-height: 25px;
	display: inline-block;
	*display: none;
	color: #fff;
	padding: 0 7px;
	text-decoration: none;
}

.pager a.selected {
	color: #0088ae;
	background-color: #fff;
	text-decoration: underline;
}

/* Destaques */

ul#carrousel_destaque, ul#carrousel_venda, ul#carrousel_locacao, ul#carrousel_temporada, ul#carrousel_fotos_imovel, ul#carrousel_banner_logo {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

ul#carrousel_destaque li, ul#carrousel_venda li, ul#carrousel_locacao li, ul#carrousel_temporada li, ul#carrousel_fotos_imovel li, ul#carrousel_banner_logo li {
	display: inline-block;
	position: relative;
	margin-right: 8px;
}

ul#carrousel_fotos_imovel li { 
	margin-right: 0px;
}

ul#carrousel_fotos_imovel li {
	width: 86px !important;
}
ul#carrousel_fotos_imovel li a {
	display: block;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
	.prev {
		left: 25px;
	}

	.next {
		right: 25px;
	}

	.legenda {
		bottom: 0;
	}

	.legenda h1  {
		font-size: 30px;
	}

	.legenda p {
		font-size: 12px;
	}
}