/* estilo para páginas de classificados */
.prefix, .postfix {
	height: auto;
}
.postfix.button {
	line-height: 2.2em;
	background-color: #0072BC;
}
.select2-search__field {
	width: 100% !important;	
}

div.classificados {
	font-size: 12px;
}

div.classificados a.botao_azul {
	background-color: #0072bc;
	padding: 10px;
	color: white;
	font-family: "MyriadPro";
	font-weight: bold;
	line-height: 63px;
}

div.classificados a.botao_azul span {
	color: white;
}

div.classificados div.busca_classificados {
	width: 100%;
	background-color: white;
	border: 1px solid #d7d7d7;
	margin-bottom: 30px;
	padding: 10px;
}

div.classificados input, div.classificados select {
	margin-bottom: 0px;
}

div.classificados form#busca_avancada {
	margin-top: 10px;
	font-size: 14px;
	font-family: "MyriadPro";
}

div.classificados span {
	font-size: 14px;
	font-family: "MyriadPro";
	color: #3b3b3b;
}

div.classificados div.separador {
	margin: 10px 0px;
}

div.classificados div.separador img {
	height: 1px;
}

div.classificados span.direita {
	display: block;
	float: left;
	line-height: 30px;
}

div.classificados .check {
	margin-top: 7px;
}

div.classificados select, div.classificados input.t2  {
	height: 30px;
	padding: 5px;
}

div.classificados select.t1 {
	width: 100%;
	float: right;
}

div.classificados select.t2, div.classificados input.t2 {
	width: 100%;
	float: right;
	margin-right: 5px;
}

div.classificados .radio_tipo {
	margin-right: 5px;
	/* margin-left: 10px; */
}

div.classificados div.lista_cidades {
	background-color: #f9f9f9;
	height: 130px;
	border: 1px solid #d7d7d7;
}

div.classificados div.lista_cidades ul {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0px;
	padding: 10px;
}

div.classificados div.lista_cidades ul li {
	font-size: 12px;
}

div.classificados div.bairros {
	background-color: #f9f9f9;
	height: 130px;
	border: 1px solid #d7d7d7;
}

div.classificados div.bairros ul {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0px;
	padding: 10px;
}

div.classificados div.bairros ul li {
	font-size: 12px;
}

div.classificados div.botao {
	text-align: center;
	margin-top: 20px;
	margin-bottom: -10px;
}

div.classificados div.semcep {
	display: none;	
}

div.classificados span.cep_texto {
	color: #008cba;	
}