/* estilo para contato */

div.formulario_contato {
	overflow: hidden;
	margin: 0px 0px 20px 0px;
}

div.formulario_contato div.linha {
	width: 100%;
	overflow: hidden;
}

div.formulario_contato div.linha input, div.formulario_contato div textarea {
	width: 100%;
	float: right;
}

div.formulario_contato div textarea {
	height: 100px;
}

div.formulario_contato .enviar {
	float: right;
}

div.formulario_contato div.linha div.campo {
	width: 20%;
	float: left;
	color: #3b3b3b;
	font-size: 14px;
	font-style: underline;
	font-family: "MyriadPro";
}