/* estilo para páginas de anuncie */

div.empreendimento {
	font-family: "MyriadPro";
}

div.empreendimento p {
	line-height: 1.3;
}

div.empreendimento div.botao_voltar {
	position: relative;
	background-color: #f9f9f9;
	display: inline;
	float: right;
	padding: 0px 10px;
}

div.empreendimento p.texto {
	margin-bottom: 0px;
	text-align: justify;
} 

div.empreendimento h2.preto {
	font-size: 23px;
}

div.empreendimento div.galeria {
	padding: 10px;
	text-align: center;
	background-color: white;
	border: 1px solid #d7d7d7;
	margin-bottom: 20px;
}

div.empreendimento div.galeria div.imagem_principal {
	height: 335px;
}

div.empreendimento div.galeria div.imagem_principal img {
	width: 100%;
	height: 100%;
}

div.empreendimento div.galeria div.fotos {
	width: 100%;
	margin-top: 10px;
}

div.empreendimento div.galeria div.fotos img {
	width: 80px;
	height: 70px;
	margin-right: 4px;
}

div.empreendimento div.dados div.preco {
	background-color: white;
	border: 1px solid #d7d7d7;
	padding: 5px 10px;
}

div.empreendimento div.dados div.preco span {
	font-size: 12px;
}

div.empreendimento div.dados div.preco h2 {
	font-size: 25px;
	font-weight: bold;
	color: #d30707;
	margin: -10px 0px 0px 0px;
}

div.empreendimento div.dados div.informacoes {
	margin: 10px 0px;
	padding-left: 5px;
}

div.empreendimento div.dados div.informacoes p {
	font-size: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d7d7d7;
}

div.empreendimento div.dados div.redes {
	text-align: right;
	margin: 10px 0px;
}

div.empreendimento div.dados div.redes img {
	margin-left: 5px;
}

div.empreendimento div.dados div.texto p {
	margin-bottom: 0px;
	font-size: 15px;
	text-align: justify;
	font-family: "MyriadPro";
}

div.empreendimento div.contato {
	background-color: white;
	border: 1px solid #d7d7d7;
	padding: 20px;
	margin-top: -10px;
}

div.empreendimento div.contato p {
	font-family: "MyriadPro";
	font-size: 15px;
}

div.empreendimento div.contato label {
	font-size: 14px;
	color: #505050;
}

div.empreendimento div.contato input.campo, div.empreendimento div.contato textarea {
	background-color: #f9f9f9;
	border: 1px solid #d7d7d7;
}

div.empreendimento div.contato input.campo {
	height: 30px;
}

div.empreendimento div.contato textarea {
	height: 100px;
}

div.empreendimento div.mapa {
	margin-bottom: 20px;
}

div.empreendimento form {
	margin-bottom: 0px;
}

div.empreendimento form .botao {
	float: right;
}
