/* estilos para footer */



footer {

	background-color: #0072bc;

	font-family: "MyriadPro";

}



footer div.row {

	padding: 30px 0px 20px 0px;

}



footer .lista_footer li {

	list-style-type: none;

	border-bottom: 1px solid #5493ca;

	padding: 10px 0;

}



footer .lista_footer li a {

	color: white;

	font-size: 14px;

}



footer .footer_facebook {

	padding-left: 10px;

	height: 300px;

	width: 100%;

}

footer .logo-footer {

	display: block;

	background-color: #fff;

	padding: 10px;

}

footer .bandeiras-footer {

	display: block;

    margin: 20px auto;

    border-radius: 10px;

}

.direitos-footer p {

	color: #888;

	font-size: 13px;

	margin: 5px 0;

}



div#modalTermos {

	padding: 10px;
	 height: 800px;
  	overflow: auto;

}



div#modalTermos h2 {

	font-family: "Helvetica Bold";

	font-size: 22px;

	color: #0072bc;

}