@font-face {
	font-family: "MyriadPro";
	src: url('../../fonts/myriadpro/myriadpro-bold.eot') format('embedded-opentype');
	src: url( "../../fonts/myriadpro/myriadpro-bold.ttf?#iefix" ) format('truetype'),
	url( "../../fonts/myriadpro/myriadpro-bold.eot" ) format('embedded-opentype'),
	url( "../../fonts/myriadpro/myriadpro-bold.woff" ) format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "MyriadPro";
	src: url('../../fonts/myriadpro/myriadpro-regular.eot') format('embedded-opentype');
	src: url( "../../fonts/myriadpro/myriadpro-regular.ttf?#iefix" ) format('truetype'),
	url( "../../fonts/myriadpro/myriadpro-regular.eot" ) format('embedded-opentype'),
	url( "../../fonts/myriadpro/myriadpro-regular.woff" ) format('woff'),
	url( "../../fonts/myriadpro/myriadpro-regular.svg" ) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica";
	src: url('../../fonts/helvetica/HelveticaLtCn.eot') format('embedded-opentype');
	src: url('../../fonts/helvetica/HelveticaLtCn.eot?#iefix') format('embedded-opentype'),

	url('../../fonts/helvetica/HelveticaLtCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Bold";
	src: url('../../fonts/helvetica/HelveticaBdCn.eot') format('embedded-opentype');
	src: url('../../fonts/helvetica/HelveticaBdCn.eot?#iefix') format('embedded-opentype'),

	url('../../fonts/helvetica/HelveticaBdCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Light";
	src: url('../../fonts/helvetica/HelveticaUltLtCn.eot') format('embedded-opentype');
	src: url('../../fonts/helvetica/HelveticaUltLtCn.eot?#iefix') format('embedded-opentype'),

	url('../../fonts/helvetica/HelveticaUltLtCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #fff;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
	background-color: #f9f9f9;
}

/* Cor Placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
   color:    #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
}
/* Cor Placeholder */

/* Titulos e Textos */
h2.preto {
	font-size: 30px;
	font-family: "MyriadPro";
	font-weight: bold;
	color: #3b3b3b;
	font-family: "MyriadPro";
}

h2.preto2 {
	font-size: 18px;
	font-weight: bold;
	color: #3b3b3b;
	margin-top: 20px;
	padding-left: 10px;
	font-family: "MyriadPro";
}

h2.azul {
	font-size: 25px;
	font-family: "MyriadPro";
	font-weight: bold;
	color: #0072bc;
}

.texto_padrao {
	margin: 20px 0px;
}

.texto_padrao p {
	font-size: 15px;
	font-family: "MyriadPro";
	color: #3b3b3b;
}

label {
	cursor: default;
}

input.error, textarea.error {
	border: 1px solid red !important;
	margin-bottom: 16px;
}

label.error {
	display: none !important;
}

/* Titulos e Textos */

/* Botoes */

/*
input.btn_azul {
	float: right;
	background-color: #0a71b3;
	border: none;
	color: #ffffff;
	font-family: "Helvetica Bold";
	font-size: 18px;
	padding: 5px 10px;
}
*/

input.btn_azul {
	float: right;
	background-color: #0a71b3;
	border: none;
	color: #ffffff;
	font-family: "MyriadPro";
	font-weight: bold;
	font-size: 18px;
	padding: 5px 10px;
}

.mapa_texto {
	font-size: 18px;
	color: #008cba;
}

.mt30{
	margin-top: 30px;
}
