/* estilo para detalhes gerais */

/* Empreendimentos */

div.empreendimentos img {
	margin-bottom: 20px;
	width: 100%;
}

/* Imobiliarias */

div.imobiliarias div.logo_imobiliaria {
	width: 220px;
	height: 220px;
	border: 1px solid #d7d7d7;
}

div.imobiliarias div.logo_imobiliaria img {
	width: 100%;
	height: 100%;
}

/* Revista */

div.revista div.logo_revista {
	width: 220px;
	height: 220px;
	border: 1px solid #d7d7d7;
}

div.revista div.logo_revista img {
	width: 100%;
	height: 100%;
}

/*
.lista_detalhes .caroufredsel_wrapper{
	height: 210px !important;
}

ul#carrousel_destaque, ul#carrousel_destaque li, ul#carrousel_destaque li div.destaque {
	height: 210px !important;
}
*/