/* estilo para headers */



header {

	font-family: "MyriadPro";

}



header div.login {

	background-color: #0072bc;

}



header div.login div {

	text-align: right;

}



header div.login span a {

	color: white;

	font-size: 13px;

}

header div.login span.alterarLocalizacao a {

	font-size: 18px;
	
	font-weight: bold;
	
	float: left;

}


header div.login .texto_login {

	padding-right: 10px;

}



header div.head_banner {

	background-color: #fff;

}



header div.header_2 {

	padding: 20px 0;

}



header div.header_2 div.banner_header {

	width: 100%;

	height: 100px;

	overflow: hidden;

}



header div.header_2 div.banner_header img {

	width: 100%;

	height: 100px;

}



header .menu_principal {

	background-color: #0072bc;

	font-family: "Helvetica Bold";

}



header .menu_principal ul.menu_header {

	text-align: center;

	margin-bottom: 0px;

	padding: 10px 0;

}



header .menu_principal ul.menu_header li {

	display: inline-block;

}



header .menu_principal ul.menu_header li a, header .menu_principal ul.menu_header li span {

	color: white;

	font-size: 13px;

}



header .menu_principal ul.menu_header li span {

	padding: 0 9px;

}



header .menu_principal ul.menu_header li span.last {

	display: none;

}



header div.banner {

	background-color: #f9f9f9;

	padding: 20px 0;

	overflow: hidden;

}



header div.banner .banner_header2 ul {

	list-style: none;

	padding: 0;

	margin: 0;

}



header div.banner .banner_header2 li {

	float: left;

	display: inline;

	position: relative;

}



header div.banner .banner_header2 ul#paginacao_topo {

	position: absolute;

	z-index: 1000;

	right: 20px;

	top: 10px;

}



header div.banner .banner_header2 ul#paginacao_topo li {

	width: 10px;

	height: 10px;

	border-radius: 10px;

	background-color: #fff;

	float: left;

	margin-left: 3px;

	cursor: pointer;

}



header div.banner .banner_header2 ul#paginacao_topo li.selected {

	background-color: #c2c2c2;

}



header div.banner .banner_header2 .ban {

	position: relative;

	float: left;

	width: 100%;

}



header div.banner .banner_header2 .ban img {

	width: 100%;

	height: 100%;

}



header div.banner .banner_header2 .ban .legenda {

	position: absolute;

	width: 100%;

	bottom: 0;

	background-color: rgba(0,0,0,0.7);

	padding: 5px 10px;

	color: white;

}



header div.banner .banner_header2 .ban .legenda p {

	font-size: 12px;

	margin-bottom: 0px;

}



header div.banner .banner_header2 .ban .legenda h3 {

	font-size: 18px;

	color: white;

	margin-bottom: 0px;

}



header div.banner .pesquisa_header2 {

	background-color: white;

	font-family: "Helvetica Bold";

}



header div.banner .pesquisa_header2 .titulo {

	background-color: #0072bc;

	font-size: 22px;

	color: white;

	width: 100%;

	text-align: center;

	padding: 10px;

}



header div.banner .pesquisa_header2 .pesquisa {

	margin-top: 10px;

}



header div.banner .botoes_pesquisa {

	width: 100%;

}



header div.banner .botoes_pesquisa a {

	padding-top: 10px;

	padding-bottom: 10px;

	font-size: 16px;

	color: white;

}



header div.banner .botoes_pesquisa a.venda {

	background-color: #d30707;

	padding-right: 17px;

	padding-left: 17px;

}



header div.banner .botoes_pesquisa a.locacao {

	background-color: #0072bc;

	padding-right: 10px;

	padding-left: 10px;

}



header div.banner .botoes_pesquisa a.temporada {

	background-color: #636363;

	padding-right: 5px;

	padding-left: 5px;

}



header div.banner .visita span {

	position: absolute;

	right: 35px;

	bottom: 0;

	z-index: 100;

}



header div.banner .visita span {

	font-size: 12px;

	color: #fff;

}



header div.banner .visita img {

	width: 100%;

}



/* Modal de Cadastro */



.form-login {

	margin-top: 10px;

	margin-bottom: 0px;

}

.form-login input {

	height: 30px;

	margin-bottom: 0;

	margin-right: 20px;

}

.form-login button {

	display: block;

	height: 30px;

	line-height: 30px;

	margin-bottom: 10px;

	padding: 0;

	width: 50px;

}

div#modalCadastro {

	background-color: white;

	padding: 10px;

	margin: 0 auto;

	width: 300px;

	min-height: 0px;

}



div#modalCadastro div.login {

	border-right: 1px solid #0072bc;

}



div#modalCadastro h2 {

	font-size: 16px;

	color: #0072bc;

	font-family: "Helvetica Bold";

	margin-bottom: 20px;

}



div#modalCadastro label {

	font-size: 12px;

	color: #0072bc;

	font-family: "MyriadPro";

	font-weight: bold;

}



div#modalCadastro input.campo {

	height: 30px;

}



div#modalCadastro input.btn {

	float: right;

	background-color: #0a71b3;

	border: none;

	color: #ffffff;

	font-family: "Helvetica Bold";

	font-size: 14px;

	padding: 5px 10px;

}



div#modalCadastro label.esqueci {

	margin: -15px 0px 10px 0px;

}



div#modalCadastro label.esqueci a {

	font-size: 10px;

	color: black;

}

span.esqueciSenha{

	float:left;

}

.menu_mobile li {

	display: none;	

	margin-top: 10px;

}

.menu_mobile li a {

	font-size: 20px;

	color: #FFF;

}

.menu_mobile li a:hover { 

	text-decoration:underline;

}

.menu_mobile label {

	text-align: center;

	font-size: 25px;

	margin-bottom: -10px;

	margin-top: 10px;

	color: #FFF;

}

.menu_mobile label:hover {

	cursor: pointer;	

}

.menu_mobile {

	text-align: center;

	list-style: none;

}

#overlay {

  width: 100%;

  height: 100%;

  position: fixed;

  left: 0;

  top: 0;

  background: url('../../images/overlay.png');

  z-index: /*10*/1006;

  display: none;

}

#overlay_load {

  width: 230px;

  height: 80px;

  position: absolute;

  left: 50%;

  top: 50%;

  margin: -20px 0 0 -115px;

  padding-top: 30px;

  font-size: 16px;

  text-align: center;

  color: #c90f0f;

  background: url('../../images/loading.gif') center top no-repeat;

}

div#modalCadastroUsuario {

	background-color: white;

	padding: 10px;

	margin: 0 auto;

	max-width: 500px;

	min-height: 0px;

}

div#modalCadastroUsuario h2 {

	font-size: 25px;

	color: #0072bc;

	font-family: "Helvetica Bold";

}

div#modalCadastroUsuario label {

	font-size: 14px;

	font-family: "MyriadPro";

}

div#modalCadastroUsuario label.titulo {

	font-size: 18px;

	font-family: "MyriadPro";

	font-weight: bold;

	margin: 20px 0px;

}

div#modalCadastroUsuario input.campo {

	height: 30px;

}

div#modalCadastroUsuario input.btn {

	float: right;

	background-color: #0a71b3;

	border: none;

	color: #ffffff;

	font-family: "Helvetica Bold";

	font-size: 18px;

	padding: 5px 20px;

}

div#modalCadastroUsuario label.esqueci {

	margin: -15px 0px 10px 0px;

}

div#modalCadastroUsuario label.esqueci a {

	font-size: 10px;

	color: black;

}

div#modalCadastroUsuario .cadastroUsuario {

	display: none;

	padding-bottom:10px;	

}

@media only screen and (max-width: 767px) {

    .selecionarCidade {

			height: 35px !important;

	}

}