/* estilo para páginas de anuncie */

div.imovel {
	font-family: "MyriadPro";
}

div.imovel p {
	line-height: 1.3;
}

div.imovel div.botao_voltar {
	position: relative;
	background-color: #f9f9f9;
	display: inline;
	float: right;
	padding: 0px 10px;
}

div.imovel p.texto {
	margin-bottom: 0px;
	text-align: justify;
} 

div.imovel h2.preto {
	font-size: 23px;
}

div.imovel div.galeria {
	padding: 10px;
	text-align: center;
	background-color: white;
	border: 1px solid #d7d7d7;
}

div.imovel div.galeria div.imagem_principal {
	height: 335px;
}

div.imovel div.galeria div.imagem_principal img {
	/*width: 100%;*/
	height: 100%;
}

div.imovel div.galeria div.fotos {
	width: 100%;
	margin-top: 10px;
}

div.imovel div.galeria div.fotos img {
	width: 80px;
	height: 70px;
	margin-right: 6px;
}

div.imovel div.galeria div.control {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	overflow: hidden;
}

div.imovel div.galeria div.control .botoes {
	width: 70px;
	height: 18px;
	margin: 10px auto;
}

div.imovel div.galeria div.control .botoes a {
	height: 100%;
	width: 18px;
	background-repeat: none;
	float: left;
	display: block;
	margin-left: 5px;
}

div.imovel div.dados {
	margin-top: 20px;
}

div.imovel div.dados div.preco {
	background-color: white;
	border: 1px solid #d7d7d7;
	padding: 5px 10px;
}

div.imovel div.dados div.preco span {
	font-size: 12px;
}

div.imovel div.dados div.preco h2 {
	font-size: 25px;
	font-weight: bold;
	color: #d30707;
	margin: -10px 0px 0px 0px;
}

div.imovel div.dados div.informacoes {
	margin: 10px 0px;
	padding-left: 5px;
}

div.imovel div.dados div.informacoes p {
	font-size: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d7d7d7;
}

div.imovel div.dados div.redes {
	text-align: right;
	margin: 20px 0px;
}

div.imovel div.dados div.redes img {
	margin-left: 5px;
}

div.imovel div.dados div.texto p {
	margin-bottom: 0px;
	font-size: 14px;
	text-align: justify;
}

div.imovel div.contato {
	background-color: white;
	border: 1px solid #d7d7d7;
	padding: 20px;
	margin-top: -10px;
}

div.imovel div.contato p {
	font-family: "MyriadPro";
	font-size: 15px;
}

div.imovel div.contato label {
	font-size: 14px;
	color: #505050;
}

div.imovel div.contato input.campo, div.imovel div.contato textarea {
	background-color: #f9f9f9;
	border: 1px solid #d7d7d7;
}

div.imovel div.contato input.campo {
	height: 30px;
}

div.imovel div.contato textarea {
	height: 100px;
}

div.imovel div.contato div.contato_realizado {
	display: none;
}

div.imovel div.contato div.contato_realizado label {
	text-align: center;
	color: green;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

div.imovel div.mapa {
	margin-bottom: 20px;
}

div.imovel form {
	margin-bottom: 0px;
}

div.imovel form .botao {
	float: right;
}

div.box_contato {
	margin-bottom: 20px;	
}

div.box_mapa_hidden {
	position: absolute;
	left: 300%;
	top: -5000px;	
}

div.box_mapa iframe {
	width: 100% !important;
	height: 100% !important;	
	min-height: 450px;
}
	
#dados_imovel {
	border: 1px solid #ccc;
  	padding: 20px;
  	border-radius: 20px;
}