/* estilo para noticias */

div.noticia {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

div.noticias .noticia .imagem {
	width: 100%;
	height: 140px;
}

div.noticias .noticia .imagem img {
	width: 100%;
	height: 100%;
}

div.noticias .noticia .dados h2 {
	font-size: 15px;
	color: #3b3b3b;
	font-family: "MyriadPro";
	font-weight: bold;
}

div.noticias .noticia .dados p {
	font-size: 14px;
	color: #3b3b3b;
	font-family: "MyriadPro";
}

div.noticias .noticia .dados a {
	font-size: 12px;
	font-weight: bold;
	float: right;
}

div.paginacao_noticias div.paginacao {
	text-align: center;
	margin-bottom: 30px;
}

div.paginacao_noticias div.paginacao a {
	font-size: 24px;
	color: #0072bc;
	font-weight: bold;
	padding: 5px 10px;
}

div.paginacao_noticias div.paginacao a.active {
	background-color: #0072bc;
	color: white;
}

/* Pagina Interna de Noticia */

div.noticia_interna .imagem {
	width: 100%;
	text-align: center;
}
