/* estilos para os Paineis */

/* Cor dos Status */

div.painel div.status_publicado {
	background-color: #fcec7c;
	font-weight: bold;
}

div.painel div.status_oculto {
	background-color: #E4E4E4;
	font-weight: bold;
	margin: 5px 0;
}

div.painel div.status_destaque {
	background-color: #fcd9d9;
	font-weight: bold;
	margin: 5px 0;
}

div.painel div.status_super_destaque {
	background-color: #a0e66a;
	font-weight: bold;
	margin: 5px 0;
}

div.painel div.status_feirao {
	background-color: #ffbe6e;
	font-weight: bold;
	margin: 5px 0;
}

div.painel div.status_destaque_feirao {
	background-color: #9cece4;
	font-weight: bold;
    margin: 5px 0;
}

div.painel div.status_okay {
	border: 1px groove;
	text-decoration: underline;
	font-weight: bold;
    margin: 5px 0;
}

fieldset legend{
	background: transparent;
}

fieldset{
	border: 1px solid #000;
	font-size: 16px!important;
}

fieldset.normal{
	font-size: 14px;
}

div.painel {
	margin-top: 50px;
	margin-bottom: 30px;
}

div.painel .btn_azul {
	padding: 10px 40px;
}	

div.painel h2.titulo_azul {
	font-size: 25px;
	font-family: "Helvetica Bold";
	color: #0072bc;
	margin-bottom: 40px;
}

div.painel a.botao_azul {
	background-color: #0072bc;
	padding: 10px;
	color: white;
	font-family: "MyriadPro";
	font-weight: bold; 
	line-height: 63px;
}

div.painel label.legenda_texto {
	text-align: right;
	font-size: 14px;
	font-family: "MyriadPro";
	font-weight: bold;
}

div.painel div.legenda_publicado, div.painel div.legenda_destaque, div.painel div.legenda_super_destaque, div.legenda_feirao, div.legenda_destaque_feirao, div.painel div.legenda_oculto {
	margin-left: 25px;
}

div.painel div.legenda_publicado {
	float: left;
}

div.painel div.legenda_publicado div {
	width: 15px;
	height: 15px;
	background-color: #fcec7c;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_destaque {
	float: left;
}

div.painel div.legenda_destaque div {
	width: 15px;
	height: 15px;
	background-color: #fcd9d9;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_feirao {
	float: left;
}

div.painel div.legenda_feirao div {
	width: 15px;
	height: 15px;
	background-color: #ffbe6e;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_super_destaque div {
	width: 15px;
	height: 15px;
	background-color: #a0e66a;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_super_destaque {
	float: left;
}

div.painel div.legenda_destaque_feirao {
	float: left;
}

div.painel div.legenda_destaque_feirao div {
	width: 15px;
	height: 15px;
	background-color: #9cece4;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_oculto {
	float: left;
}

div.painel div.legenda_oculto div {
	width: 15px;
	height: 15px;
	background-color: #E4E4E4;
	border: 1px solid #b7b7b7;
	float: left;
}

div.painel div.legenda_destaque label, div.painel div.legenda_feirao label, div.painel div.legenda_super_destaque label, div.painel div.legenda_destaque_feirao label, div.painel div.legenda_publicado label, div.painel div.legenda_oculto label  {
	float: left;
	line-height: 15px;
	padding-left: 10px;
}

img.interrogacao {
	width: 15px;
	margin-left: 10px;
	margin-bottom: 5px;
}

/* Proprietario Imoveis */

div.proprietario_imoveis div.header_lista {
	margin: 40px 0px 20px 0px;
}

div.proprietario_imoveis div.header_lista label {
	font-size: 14px;
	font-family: "MyriadPro";
	font-weight: bold;
}

div.proprietario_imoveis div.linha {
	border-bottom: 1px solid #c2c2c2;
	padding: 15px 0px;	
	overflow: hidden;
}

div.proprietario_imoveis div.linha .selecao {
	margin: 0px;
}

div.proprietario_imoveis div.linha div {
	/*border-right: 1px solid #c2c2c2;*/
}

div.proprietario_imoveis div.linha a {
	padding-right: 5px;
}



div.proprietario_imoveis div.linha span {
	font-size: 16px;
	font-family: "MyriadPro";
	color: #545454;
}

div.center{
	text-align: center;
}

div.proprietario_imoveis div.linha .destaque, div.proprietario_imoveis div.linha .acoes {
	text-align: center;
}

div.proprietario_imoveis div.linha span.aguardandopagamento {
	color: #0072bc;
	font-weight: bold;
}

div.proprietario_imoveis div.linha span.aguardandoaprovacao {
	color: #f58220;
	font-weight: bold;
}

div.proprietario_imoveis div.linha span.publicado {
	color: #d30707;
	font-weight: bold;
}

div.proprietario_imoveis div.selecionar_todos {	
	padding: 20px 0px 20px 35px;
}

div.proprietario_imoveis div.selecionar_todos input {	
	margin-right: 10px;
}

div.proprietario_imoveis div.pagar {	
	text-align: right;
	margin-top: 40px;
}

div.proprietario_imoveis div.pagar a {	
	padding: 10px 40px;
}

/* Painel Cadastrar/Editar Imovel */

div.proprietario_formulario form#cadastrar_imovel {
	padding-left: 10px;
	margin-top: 20px;
}

div.proprietario_formulario input.campo {
	height: 30px;
}

div.proprietario_formulario textarea {
	height: 110px;
}

div.proprietario_formulario textarea, select, input {
	background-color: #fff;
}

div.proprietario_formulario .radio_tipo {
	margin-right: 5px;
	margin-left: 0px;
}

div.proprietario_formulario .coluna {
	border-right: 1px solid #c2c2c2;
}

div.proprietario_formulario .mini_titulo {
	margin-top: -10px;
}

div.proprietario_formulario .mini_titulo span {
	font-size: 12px;
	margin-bottom: -10px;
}

div.proprietario_formulario div.botao {
	margin-bottom: 20px;
}

div.proprietario_formulario .botao input {
	padding: 10px 30px;
}

div#resultado_f {
	margin-top: 20px;
}

div#resultado_f .links_fotos {
	width: 200px;
	display: block;
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
	position: relative;
	max-width: 200px;
}

div#resultado_f .links_fotos a.excluir {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	right: -5px;
	top: -5px;
	background: url(../../images/delete.png) center center no-repeat;
	z-index: 3;
}

div#resultado_f .links_fotos input.btn_foto_destaque {
	position: absolute;
	/* display: block; */
	width: 32px;
	height: 32px;
	left: -10px;
	top: -10px;
	z-index: 3;
}

.dados_contato {
	display: none;
}

/* Página Publicar */

div.proprietario_publicar .coluna {
	border-right: 1px solid #c2c2c2;
}

div.proprietario_publicar .linha {
	border-bottom: 1px solid #c2c2c2;
	padding: 15px 0px;	
	overflow: hidden;
}

div.proprietario_publicar .linha label.normal {
	text-align: center;
	color: #545454;
	font-size: 13px;
	font-family: "MyriadPro";
}

div.proprietario_publicar .linha label.end {
	color: #545454;
	font-size: 14px;
	font-family: "MyriadPro";
	font-weight: bold;
}

div.proprietario_publicar .linha label.valor {
	text-align: center;
	color: #545454;
	font-size: 16px;
	font-family: "MyriadPro";
	font-weight: bold;
}

div.proprietario_publicar .linha .seta2 {
	display: none;
}

div.proprietario_publicar .div_titulo {
	cursor: pointer;
}

div.proprietario_publicar .ativo {
	padding-bottom: 5px;
	border: none;
	background-color: #f2f2f2;
}

div.proprietario_publicar .div_conteudo {
	display: none;
	background-color: #f2f2f2;
}

div.proprietario_publicar .div_conteudo div {
	margin: 5px 0px;
}

div.proprietario_publicar div.aviso {
	padding: 30px 0px;
}

div.proprietario_publicar div.texto_aviso {
	width: 100%;
	text-align: center;
	background-color: #a1a8aa;
	padding: 10px;
}

div.proprietario_publicar div.texto_aviso label {
	font-size: 20px;
	font-family: "Helvetica Bold";
	color: #fff;
}

div.proprietario_publicar div.preco {
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	padding: 30px 0px 20px 0px;
}

div.proprietario_publicar div.preco div {
	text-align: right;
}

div.proprietario_publicar div.preco span.texto {
	font-size: 20px;
	color: #545454;
}

div.proprietario_publicar div.preco span.preco {
	font-size: 36px;
	color: #545454;
}

div.proprietario_publicar div.botao {
	margin-top: 20px;
}

div.proprietario_publicar div.botao div {
	text-align: right;
}

div.proprietario_publicar div.botao a.botao_azul {
	padding: 15px 30px;
}

/* Imobliaira */

div.imobiliaria div.acoes div {
	border: none;
}

div.imobiliaria div.acoes a {
	font-size: 16px;
	color: #545454;
}

div.imobiliaria div.paginacao {
	text-align: center;
	margin: 20px 0px 10px 0px;
}

div.imobiliaria div.paginacao a {
	font-size: 24px;
	color: #f58534;
	font-weight: bold;
	padding: 5px 10px;
}

div.imobiliaria div.paginacao a.active {
	background-color: #f58534;
	color: white;
}

div.anuncie_imovel {
	background-color: #ff0000;
 	padding: 10px;
	text-align: center;
	margin: -50px 0px 20px 0px;
}

div.anuncie_imovel:hover {
	cursor: pointer;	
}

div.anuncie_imovel span {
	font-size: 44px;
 	color: #fff;
  	font-weight: bold;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  	line-height: 50px;
}

h2.favoritos_vazio {
	font-size: 32px;
  	color: #0072bc;
  	font-weight: bold;
}

div.proprietario_publicar .linha label.valor.green {
	color: #389612;
}
[data-tooltip] {
	display: inline-block;
	height: 20px;
	background-color: #0072BC;
	color: #fff !important;
	border-radius: 50%;
	width: 20px;
	margin: 0 10px;
}