/* DASHBOARD */
section {
	padding-top: 25px;
}

p.comentario {
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 10px;
}

.lastcom {
	margin-bottom: 15px;
}

ul#galeria li {
	position: relative;
}

ul#galeria li img {
	display: block;
	width: 100%;
}
ul#galeria li a.deletar {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: #252525;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	transform: all linear 0.2s;
	-moz-transform: all linear 0.2s;
	-webkit-transform: all linear 0.2s;
}

ul#galeria li a.deletar:hover {
	background-color: #0089af;
}

.subcategoria {
	border-left: 1px solid #252525;
	padding-left: 15px;
	margin-left: 5px;
}

ul#actions li a {
	font-size: 12px !important;
}

.table {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #fff;
}