/* FORMS */
input[type="text"],
input[type="email"],
input[type="password"] {
	margin: 0 0 1rem 0;
}

input[type="text"].error,
input[type="email"].error,
input[type="password"].error {
	border: 1px solid #ff0000;
	background-color: #ffd8d8;
}

textarea {
	resize: none;
}

input[type="checkbox"] {
	margin: 7px 5px 7px 0;
}

input[type="text"].titulo {
	font-size: 24px;
	height: 50px;
	line-height: 50px;
}

label.error {
	display: none !important;
}
.progress .meter {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, sans-serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	width: 100%;
}
.select2-container--default .select2-search--inline .select2-search__field {
	margin: 0;
}

label[for=form-duplicar]{
	display: none;
}