body {
	background-color: #f4f4f4;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Cor Placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
   color:    #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
}
/* Cor Placeholder */

/* Tipografia */
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../../fonts/OpenSansRegular.eot');
    src: url('../../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../../fonts/OpenSansRegular.woff') format('woff'),
         url('../../fonts/OpenSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../../fonts/OpenSansBold.eot');
    src: url('../../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSansBold.ttf') format('truetype'),
         url('../../fonts/OpenSansBold.woff') format('woff'),
         url('../../fonts/OpenSansBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
.panel h1 {
    font-family: 'OpenSansBold';
    font-size: 22px;
    line-height: 24px;
    color: #0089af;
}

p {
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 16px; 
}

p strong {
  font-family: 'OpenSansBold';
}
small {
  font-size: 85%;
}
/* Tipografia */

/* Buttons / Links */
.button {
  font-size: 14px !important;
  text-transform: uppercase;
  margin: 5px 0;
  transform: all linear 0.2s;
  -moz-transform: all linear 0.2s;
  -webkit-transform: all linear 0.2s;
}

.button.red {
  background-color: #b40101;
}

.button.red:hover {
  background-color: #7d0000;
}

input[type="submit"].button {
  margin: 0;
}

a.novasenha {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
  display: block;
}

a.ac {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

a.ac.red {
  color: #da0404;
}

a.ac.green {
  color: #048732;
}

/* Padrões */
.panel {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}

p {
  color: #6d6e71;
  margin: 0;
  padding: 2px;
}

p.mail {
  color: #0089af;
}

.todos input {
	margin-left: 30px;
}

.label_destaque {
	padding: 10px 0px 20px 0px;
    color: green;
    font-size: 18px;	
}

.item_anuncio {
	margin-bottom: 30px;	
}

.tipo_xml input[type='radio'] {
	margin-right: 10px;	
}

.tipo_xml label {
	font-size: 16px;
}

.text-center{
  text-align: center;
}