/* HEADER */
header {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #e4e4e4;
}

.userarea p,
.userarea a {
	text-align: right;
	display: block;
}

.userarea p.welcome {
	font-family: 'OpenSansBold';
	font-size: 12px;
}

.userarea p.user {
	font-family: 'OpenSansBold';
	font-size: 20px;
	color: #0089af;
}

.userarea a {
	font-family: 'OpenSansRegular';
	font-size: 12px;
	color: #da0404;
}

@media screen and (min-width: 300px) and (max-width: 641px) {
	.userarea p,
	.userarea a {
		text-align: left;
		display: block;
	}
}