/* MENU */
nav {
	width: 100%;
	height: 100px;
	background-color: #0089af;
}

ul.main {
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
}

ul.main li {
	font-family: 'OpenSansRegular';
	font-size: 13px;
	display: inline-block;
	*display: inline;
	position: relative;
}

ul.main li a {
	color: #fff;
	display: block;
	padding: 0 10px;
	transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
}

ul.main li a:hover,
ul.main li a.active {
	background-color: #00647f;
}

.select {
	font-family: 'OpenSansRegular';
	font-size: 16px;
	color: #fff;
	display: none;
	margin: 10px 0;
	padding: 0;
	background-color: #0089af;
	border: none;
}

ul.submenu {
	width: 200px;
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 100;
	background-color: #00647f;
}

ul.submenu li {
	font-family: 'OpenSansRegular';
	font-size: 14px;
	line-height: 30px;
	display: block;
	text-align: left;
}

ul.submenu li a {
	color: #fff;
	display: block;
	padding: 0 12px;
	transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
}

ul.submenu li a:hover,
ul.submenu li a.active {
	background-color: #252525;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
	nav {
		height: auto;
	}

	ul.main {
		display: none;
	}

	.select {
		display: block;
	}
}

@media screen and (min-width: 641px) and (max-width: 1000px) {
	ul.main li {
		font-size: 12px;
	}

	ul.main li a {
		padding: 0 10px;
	}
}